// src/styles/_variables.scss

// 1. Definir las familias
$font-primary: 'Parkinsans', sans-serif;
$font-secondary: 'General Sans', sans-serif;

// 2. Definir pesos según el manual (Pág. 24)
$weight-medium: 500;
$weight-bold: 700;
$weight-regular: 400;

// 3. Colores (extraídos de tu manual para que ya los tengas a mano)
// Asegúrate de revisar los códigos HEX exactos en la sección de Color del PDF
$color-text-dark: #000000;
$rojo: #ED484A;
$naranja: #F49F67;
$amarillo: #FED264;
$lila: #9E81BA;
$verde: #45A55A;
$crema: #FCF0D9;
$texto: #292524d8