@import "../styles/variables";

.about-us{
  padding: 5em 8em;
  background-color: $crema;
  img{
    width: 100%;
    height: auto;
  }
  .contenido{
    padding-top: 5em;
    padding-left: 3em;
    .first{
      font-size: 24px;
    }
    .second{
      font-size: 18px;
    }
  }
}
@media (max-width: 475px){
  .about-us{
    padding: 5em 2em;
    .contenido{
      padding-top: 0px;
      padding-left: 0px;
      .second{
        font-size: 20px;
      }
    }
    img{
      width: 80%;
      margin-top: 3em;
    }
  }
}