@import "../styles/variables";

.card-container{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 100%;
  padding: 2em;
  position: relative;
  z-index: 100;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  .icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    img{
      width: 30px;
    }
  }
  .title{
    font-weight: 600;
    color: black;
  }
  .text-small{
    font-size: 18px;
  }
  .text-medium{
    font-size: 20px;
  }
  .text-large{
    font-size: 24px;
  }
  .description{
    font-size: 20px;
  }
}
@media (max-width: 475px){
  .card-container{
    .title{
      text-align: center;
    }
    .description{
      text-align: center;
    }
  }
}