.footer{
  background-color: rgb(30, 30, 30);
  padding: 4em 2em 2em 2em;
  .left{
    img{
      width: 150px;
      margin-bottom: 1em;
    }
    p{
      font-size: 20px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .col-title{
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin-bottom: 1em;
  }
  .middle{
    a{
      color: rgba(255, 255, 255, 0.8);
      font-size: 16px;
      display: block;
      margin-bottom: 1em;
    }
  }
  .right{
    .social-media{
      display: flex;
      span{
        display: flex;
        margin-right: 1em;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 10px;
        img{
          width: 22px;
        }
      }
    }
  }
  .separador{
    width: 100%;
    height: 2px;
    border-radius: 10000px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 1em 0em;
  }
  .copyright{
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 475px){
  .footer{
    padding: 2em;
    .copyright{
      p{
        text-align: center;
      }
    }
  }
}