@import "../styles/variables";

.how-to{
  padding: 5em 3em;
  position: relative;
  .subtitle{
    font-size: 24px;
  }
  .card-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    height: 100%;
    .card-number{
      font-weight: 600;
      font-size: 70px;
      font-family: $font-secondary;
    }
    .icon{
      width: 60px;
      height: 60px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;
      img{
        width: 25px;
      }
    }
    .title{
      color: black;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 10px;
    }
    .description{
      font-size: 18px;
      text-align: center;
    }
  }
  .btn-download{
    background-image: linear-gradient(to right, $rojo, $amarillo);
    padding: 10px 50px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1.5em;
  }
  .decoration-1{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 100px;
  }
  .decoration-2{
    position: absolute;
    top: 10%;
    right: 15%;
    width: 100px;
  }
}
@media (max-width: 475px){
  .how-to{
    padding: 5em 2em;
    .decoration-1{
      left: 3%;
      top: 15%;
      opacity: 0.6;
    }
    .decoration-2{
      right: 3%;
      top: 15%;
      opacity: 0.6;
    }
  }
}