.phrase{
  display: flex;
  justify-content: center;
  .contenedor{
    width: 60%;
    padding: 5em 0em;
    p{
      font-size: 20px;
      padding: 0em 1em;
    }
  }
}
@media (max-width: 475px){
  .phrase{
    .contenedor{
      width: 90%;
    }
  }
}