@import "../styles/variables";
.secondary-banner{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .contenedor{
    width: 70%;
    h1{
      text-align: center;
      color: white;
      font-size: 72px;
    }
    .subtitle{
      font-size: 30px;
      color: white;
      text-align: center;
    }
    .lines-container{
      display: flex;
      justify-content: center;
      .line{
        width: 70px;
        height: 4px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
      }
    }
  }
  a{
    color: $rojo !important;
    padding: 0.8em 2.5em;
    background-color: white;
    font-weight: 900;
    font-size: 20px;
    border-radius: 15px;
  }
  .fichas-aux{
    p{
      padding: 1em 2em;
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.6);
      font-weight: 600;
      border-radius: 15px;
      font-size: 18px;
    }
  }
}
@media (max-width: 475px){
  .secondary-banner{
    .contenedor{
      width: 85%;
      h1{
        font-size: 50px;
      }
      .subtitle{
        font-size: 25px;
        margin-top: 1.2em;
      }
    }
    .fichas-aux{
      text-align: center;
    }
  }
}